body{
    background-image: url(../image/background.jpg);
    background-size: 1000px;
    padding-left: 7%;
    color: white;
}

.tableau{
    width: 600px;
    height: 600px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 10px;
}

.shipCase{
    background-color: black;
    color: white;
}



.ship{
    background-color: black;
    color: white;
}

.ship1{
    background-image: url(../image/space-ship1.png);
}

.ship2{
    background-image: url(../image/space-ship2.png);
}

.ship3{
    background-image: url(../image/space-ship3.png);
}


/* Armes */

/* Fin armes */