/*
Color Palette
#000000
#051427
#530f1e
#a44322
#f8bc04
*/

body {
    background-image: url(../image/background.jpg);
    background-size: 1000px;
    padding-left: 7%;
    color: #f8bc04;
}

.custom-btn {
    width: 130px;
    height: 40px;
    border: 2px solid #530f1e;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.btn-start {
    margin-left: 235px;
    margin-top: 10px;
    background: #530f1e;
    color: #f8bc04;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

.btn-start:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #f8bc04;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.btn-start:hover {
    color: #530f1e;
}

.btn-start:hover:after {
    left: 0;
    width: 100%;
}

.btn-start:active {
    top: 2px;
}

.btn-bato {
    margin-right: 20px;
    background: #530f1e;
    color: #f8bc04;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

.btn-bato:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #f8bc04;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.btn-bato:hover {
    color: #530f1e;
}

.btn-bato:hover:after {
    left: 0;
    width: 100%;
}

.btn-bato:active {
    top: 2px;
}

.btn-use {
    margin-right: 20px;
    background: #25090f;
    color: #af8506;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

/*.btn-use:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #f8bc04;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.btn-use:hover {
    color: #530f1e;
}

.btn-use:hover:after {
    left: 0;
    width: 100%;
}

.btn-use:active {
    top: 2px;
}*/

.tableau {
    width: 500px;
    height: 500px;
    background-color: transparent;
    color: #f8bc04;
    border-color: #f8bc04;
    border-radius: 10px;
    margin-left: 3%;
}

.shipCase {
    background-color: black;
    color: #f8bc04;
}

.ship {
    background-color: black;
    color: #f8bc04;
}

.ship1 {
    background-image: url(../image/space-ship1.png);
}

.ship2 {
    background-image: url(../image/space-ship2.png);
}

.ship3 {
    background-image: url(../image/space-ship3.png);
}


/* Armes */


/* Fin armes */

/* Game */
#GridAdversaire, #GridPlayer {
    display: inline-block;
    text-align: center;
}

#GridAdversaire{
    margin-left: 3%;
}

#GridPlayer{
    margin-left: 15%;
}

.caseTouched{
    background-color: #051427;
}