#join, #create{
    margin-top: 20%;
    margin-left: 45%;
    float:left;
    width: 10%;
    font-size:30px;
}
#roomBox {
    float:right;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin:auto;
    padding-bottom:10%;
    padding-left:10%;
    padding-right:10%;
}

body {
    background-image: url(../image/background.jpg);
    background-size: 1000px;
    color: #f8bc04;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-bottom:3%;
    font-family: 'Press Start 2P', cursive;
}

h2{
    text-align: center;
    font-size: large;
    margin-bottom: 5%;
}

hr{
    width: 40%;
    margin-bottom: 4%;
    background: #530f1e;
    color: #530f1e;
    padding: 2px;
}

form{
    text-align: center;
}

input{
    margin: 1%;
}

a {
    text-align: center;
    font-size: medium;
    display: block;
    color: blueviolet;

}

a:hover{
    color:#f8bc04;
}

#btn-login, #btn-createAcc{
    margin-left: auto;
    margin-top: auto;
    background: #530f1e;
    color: #f8bc04;
    line-height: 42px;
    padding: auto;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

#btn-login:hover, #btn-createAcc:hover {
    color: #530f1e;
    background: #f8bc04;
}

#cheh
{
    text-align: center;
    font-size: x-small;
    font-family: 'Press Start 2P', cursive;
}